{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<footer>
  <div class="grad-bottom"></div>
  <div class="footer">
    <div class="container">
      <span class="pull-right">
        {%- if _appFooter -%}
        {{_appFooter}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        {%- endif -%}
        <a href="#top">Back to top</a>
      </span>
      <span>
        <a class="locale" href="{{_basePath}}{{_langCode}}/locale?target={{_basePath}}{{_langCode}}/{{_path}}">{{_langName}}</a>
      </span
    </div>
  </div>
</footer>
